.tiptap {
  margin: 5rem 0 10rem;
  padding: 40px 2rem;
  border-radius: 10px;
  outline: none;
  background: white;
  min-height: 600px;

  img.ProseMirror-separator {
    display: inline !important;
    border: none !important;
    margin: 0 !important;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
  }

  div[data-code-file-name] {
    span {
      min-width: 85px;
    }
  }

  .code-content-container {
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: attr(data-language);
      display: block;
      font-size: 0.7rem;
      padding: 0.1rem 0.3rem;
      background-color: oklch(96.7% 0.003 264.542);
    }
  }

  pre {
    .insertedToken {
      background-color: #00921b33;
    }

    .deletedToken {
      background-color: #da363233;
    }
  }
}

/* Selection */
.tiptap {
  &::selection {
    background-color: rgba(35, 131, 226, 0.3);
  }

  figure {
    &.ProseMirror-selectednode {
      img {
        outline: 3px solid #9333ea;
        outline-offset: 2px;
      }
    }
  }

  hr {
    &.ProseMirror-selectednode {
      outline: 2px solid #9333ea;
      outline-offset: 2px;
    }
  }

  p,
  h1,
  h2,
  h3,
  h4,
  ul,
  ol,
  blockquote {
    &.ProseMirror-selectednode {
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;

      &::selection {
        background: transparent !important;
      }

      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(35, 131, 226, 0.3);
        border-radius: 4px;
        pointer-events: none;
      }
    }
  }
}

/* Placeholder */
.tiptap {
  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  p.is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  h1.is-empty::before,
  h2.is-empty::before,
  h3.is-empty::before {
    color: #6b7280;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  em[data-caption].is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
  }

  div[data-code-file-name].is-empty {
    .code-block-filename::before {
      color: #adb5bd;
      content: "ファイル名"; /* 親要素にdata-placeholderが設定されてしまうため、ハードコーディング */
      float: left;
      height: 0;
      pointer-events: none;
    }
  }
}
